{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>D3.js with Django</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    <svg id="protein-chart" width="900" height="500"></svg>
    <svg id="phospho-chart" width="900" height="500"></svg>

    {{ protein_data|json_script:"protein-data" }}
    {{ phospho_data|json_script:"phospho-data" }}

    <script>
    const protein_data = JSON.parse(document.getElementById('protein-data').textContent);
    const phospho_data = JSON.parse(document.getElementById('phospho-data').textContent);

    barchart("#protein-chart", protein_data, true)
    barchart("#phospho-chart", phospho_data, false)

    function barchart(id, data, isProtein) {
      let svg

      if (isProtein) {
        svg = d3.select(id),
            margin = { top: 20, right: 100, bottom: 30, left: 360 },
            width = +svg.attr("width") - margin.left - margin.right,
            height = +svg.attr("height") - margin.top - margin.bottom;
      } else {
        svg = d3.select(id),
            margin = { top: 20, right: 100, bottom: 30, left: 420 },
            width = +svg.attr("width") - margin.left - margin.right,
            height = +svg.attr("height") - margin.top - margin.bottom;
      }

      const g = svg.append("g").attr("transform", `translate(${margin.left},${margin.top})`);

      const y = d3.scaleBand()
        .domain(data.map(d => d.name))
        .rangeRound([0, height])
        .padding(0.2);

      const x = d3.scaleLinear()
        .domain([0, d3.max(data, d => d.value)])
        .range([0, width]);

      let color;

      if (isProtein) {
        color = d3.scaleOrdinal()
        .domain(["Reactome", "BP", "MF", "CC"])
        .range(["#888", "#4095c5", "#9fcae2", "#0072b2"]);
      } else {
        color = d3.scaleOrdinal()
        .domain(["Reactome", "BP", "MF", "CC"])
        .range(["#888", "#40c57e", "#9fe2ca", "#00b272"]);
      }

      // Bars
      g.append("g")
        .selectAll("rect")
        .data(data)
        .join("rect")
          .attr("y", d => y(d.name))
          .attr("height", y.bandwidth())
          .attr("x", 0)
          .attr("width", d => x(d.value))
          .attr("fill", d => color(d.group));

      // Left Y-axis labels
      g.append("g")
        .call(d3.axisLeft(y).tickSize(0))
        .selectAll("text")
          .style("text-anchor", "end");

      // X-axis
      g.append("g")
        .attr("transform", `translate(0,${height})`)
        .call(d3.axisBottom(x).ticks(5))
        .append("text")
          .attr("x", width)
          .attr("y", -10)
          .attr("fill", "#000")
          .attr("text-anchor", "end")
          .text("-log10 (p-value)");

      // Group labels on the right
      const groupPositions = [];
      let lastGroup = null;

      data.forEach((d, i) => {
        if (d.group !== lastGroup) {
          groupPositions.push({ group: d.group, index: i });
          lastGroup = d.group;
        }
      });

      // Add group labels
      svg.append("g")
        .selectAll("text")
        .data(groupPositions)
        .enter()
        .append("text")
          .attr("x", margin.left + width + 10)
          .attr("y", d => (margin.top + y(data[d.index].name) + y.bandwidth() / 2) + 50)
          .attr("class", "group-label")
          .text(d => d.group);

      // Add horizontal dividers between groups
      svg.append("g")
        .selectAll("line")
        .data(groupPositions.slice(1))  // skip the first group (no divider above it)
        .enter()
        .append("line")
          .attr("x1", margin.left - 10)
          .attr("x2", margin.left + width + 100)
          .attr("y1", d => margin.top + y(data[d.index].name) - y.paddingInner() * y.step() / 2)
          .attr("y2", d => margin.top + y(data[d.index].name) - y.paddingInner() * y.step() / 2)
          .attr("class", "divider-line");
    }

  </script>

</body>
</html>
