{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>List of charts</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>

<a href="venn">Venn diagrams of relevant findings per project</a><p>

Heatmaps of abundances for relevant proteins and peptides

<ul>
    {% for project in projects %}
        <li><a href="{% url 'heatmap' project.pk %}">{{ project.full_name }}</a></li>
    {% empty %}
        <li>No projects available.</li>
    {% endfor %}
</ul>

Heatmaps of abundances by protein

<ul>
    {% for project in projects %}
        <li><a href="{% url 'heatmap_by_protein' project.pk %}">{{ project.full_name }}</a></li>
    {% empty %}
        <li>No projects available.</li>
    {% endfor %}
</ul>

PCA
<ul>
    {% for project in projects %}
        <li><a href="{% url 'pca' project.pk %}">{{ project.full_name }}</a></li>
    {% empty %}
        <li>No projects available.</li>
    {% endfor %}
</ul>

Barcharts of most relevant GO enrichment terms per category

<ul>
    {% for project in projects %}
        <li><a href="{% url 'barchart' project.pk %}">{{ project.full_name }}</a></li>
    {% empty %}
        <li>No projects available.</li>
    {% endfor %}
</ul>

Scatterplots by q value and curve fold change

<ul>
    {% for project in projects %}
        <li><a href="{% url 'scatterplot' project.pk %}">{{ project.full_name }}</a></li>
    {% empty %}
        <li>No projects available.</li>
    {% endfor %}
</ul>

Mean gene effects

<ul>
    {% for project in projects %}
        <li><a href="{% url 'mean_gene_effect' project.pk %}">{{ project.full_name }}</a></li>
    {% empty %}
        <li>No projects available.</li>
    {% endfor %}
</ul>

Protein half-life

<ul>
    {% for project in projects %}
        <li><a href="{% url 'half_life' project.pk %}">{{ project.full_name }}</a></li>
    {% empty %}
        <li>No projects available.</li>
    {% endfor %}
</ul>

</body>
</html>
